*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  
  /* background-color:grey; */
  min-height:100vh;
  max-height: fit-content;
  display:flex;
  justify-content: center;
  align-items: center;
 
}

.App{
  width: 80%;
  min-height:50vh;
  /* background-color:orange; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.App h1{
  font-family: 'PT Serif', serif;
  margin: 20px;
}


.App h2{
  font-family: 'PT Serif', serif;
  margin: 20px;
}

.imageDiv{
  width: 100%;
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
 
  min-height:35vh;
  align-items:center
}

.questionCard{
  width: 80%;
  min-height:50vh;
  /* background-color:orange; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding:20px;
}

.buttonDiv{
  display: flex;
  flex-direction: column;
  min-height:30vh;
  min-width: 80%;
    justify-content: center;
    align-items: center;
}

.buttonDiv button , button{
  display: block;
  padding:10px 70px;
  margin:5px;
  background-color: aquamarine;
  color: black;
  width:80%
}

.buttonDiv button[disabled] {
  background-color:burlywood
}

button{
  background-color:black;
  color:white;
  width:60% !important;
}

.loading{
  width: 80%;
  min-height:50vh;
  /* background-color:orange; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


img:hover{ 
  cursor: pointer;
  transform: scale(0.9);
}
@media only screen and (max-width: 600px){
  button{
    width: 100% !important;
  }
}